# Optional: override hyper-parameters
lr0: 0.01
lrf: 0.01
momentum: 0.937
weight_decay: 0.0005
box: 7.5
cls: 0.5
dfl: 1.5
hsv_h: 0.015
hsv_s: 0.7
hsv_v: 0.4
degrees: 0.0
translate: 0.1
scale: 0.5
shear: 0.0
flipud: 0.0
fliplr: 0.5
mosaic: 0.8
mixup: 0.2
